.react-window {
  display: grid;
  width: 100%;
  height: 100%;

  .react-window-pane {
    overflow: auto;
  }

  .react-window-slider {
    .react-window-slider-line {
      border-style: solid;
      border-color: #bbb;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background-color: #efefef;

      .react-window-slider-line {
        border-color: #aaa;
      }
    }
  }
}
